gevent==0.13.8
greenlet==0.4.0
ipython==0.13.1
matplotlib==1.2.0
numpy==1.6.2
pandas==0.10.1
python-dateutil==2.1
pytz==2012j
pyzmq==2.2.0.1
requests==1.1.0
six==1.2.0
tornado==2.4.1
wsgiref==0.1.2
xlwt==0.7.4
